// IMPORTS
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

// COLORS
@white: #FAFAFA;
@yellow: #FADA5B;
@lightorange: #FD833D;
@orange: #FD632F;
@red: #FE3825;
@lightblue: #3879F3;
@blue: #1757C4;
@violet: #3030A4;
@black: #16112C;

// FILE PATHS
@assetsFolder: "./assets";

// FONTS
@headerFont: "Roboto Slab";
@bodyFont: Palatino, "Libre Baskerville", serif;
@codeFont: "Fira Code", "Fira Mono", Monaco, monospace;