@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://code.cdn.mozilla.net/fonts/fira.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

@headerFont: "Roboto Slab";
@bodyFont: Palatino, "Libre Baskerville", serif;
@codeFont: "Fira Code", "Fira Mono", Monaco, monospace;

@footerHeight: 200em;

:host {
    body {
        font-family: @bodyFont !important;
        font-size: 24px !important;
        margin: 0 auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headerFont !important;
}

button, 
[role*=button] {
    font-family: @codeFont !important;
}


